<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        >

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.LinkLater">
        <activity
                android:name=".MainActivity"
                android:windowSoftInputMode="adjustResize"
                android:exported="true"
                android:theme="@style/Theme.LinkLater">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".IntentHandlerActivity"
                android:exported="true">
            <intent-filter>

                <!-- Category for sharing text (e.g., URLs) -->
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <!-- MIME type for sharing links -->
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
    </application>

</manifest>